/* COLORS */

$primary-color: #F0ECE4;
$secondary-color: #F7F9FA;
$third-color: rgb(255, 115, 0);
$bg-color: #A9ABAA;
$show-home-image: true;

/* FONTS */
/*
@import url('https://fonts.googleapis.com/css?family=Kameron|Prompt:900i|Cabin:700i|Michroma|Trochut:400i');*/

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900i|Julius+Sans+One|Muli:600i');

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 65%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border: solid $bg-color 20px;
    background-image: url('/img/mark.jpg');
    background-size: 100% 100%;
    }
  }
}


