// Menu Button
.menu-btn {
  position: fixed;
  z-index: 3;
  top: 35px;
  left: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    background-color: $primary-color;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {

      // Line 1 - Rotate
      &:nth-child(1) {
        animation: closeBlink 5s infinite;
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        animation: closeBlink 5s infinite;
        transform: rotate(-45deg) translate(7px, -6px);
      }

      @keyframes closeBlink {
        0% {
          background-color: #ffffff;
        }

        50% {
          background-color: #000000;
        }

        100% {
          background-color: #ffffff;
        }
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 2;

  &.show {
    visibility: visible;
  }


  &-nav {
    align-items: center;
    justify-content: center;
    float: left;
    width: 60%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(darken(#d42c0e, 5), 0.9);
    -webkit-clip-path: polygon(0 0, 29% 0, 51% 100%, 0% 100%);
    clip-path: polygon(0 0, 29% 0, 51% 100%, 0% 100%);
    transform: translate3d(-600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
    }

    .nav-item {
      transform: translate3d(-600px, 0, 0);
      @include easeOut;

      &.show {
        // Slide in from right
        transform: translate3d(50px, 0, 0);
      }

      &.current>a {
        color: #000000;
      }
    }

    .nav-link {
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      position: relative;
      top: 300px;
      left: 50px;
      font-size: 1.5625rem;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 600;
      color: rgb(255, 208, 0);
      text-decoration: none;
      @include easeOut;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 3 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// Curved Arrow

#curvedarrow {
  z-index: 1;
  position: fixed;
  top: 70px;
  left: 70px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid $secondary-color;
  transform: rotate(-180deg);
}

#curvedarrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid $secondary-color;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
