@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,600|Open+Sans');


/*    Header and Title - FONTS   */
.content-header,
.content-title {
  font-family: 'Montserrat', sans-serif;
}

.content-des {
  font-family: 'Open Sans', sans-serif; 
  color: rgb(80, 80, 80);
  text-align: center;
}

/*    Hero Header    */

#header_hero {
  opacity: 0.9;
  z-index: -1;
  background: url('/img/ball.jpg') no-repeat fixed center/cover;
  height: 100vh;
  width: 100%;

  h1.hero-header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 14px;
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    

    &.hero-header {
      position: relative;
      left: 0;
      top: 50%;
    }
  }
}


/*    Parallax pictures   */


#parallax_two {
  opacity: 0.9;
  background: url(/img/ball2.jpg) no-repeat fixed center center/cover;
  height: 250px;
  width: 100%;
  // margin-top: -204px;
  // overflow: hidden;
}

#parallax_three {
  opacity: 0.9;
  background: url(/img/ball3.jpg) no-repeat fixed center/cover;
  height: 250px;
  width: 100%;
  // margin-top: -204px;
  // overflow: hidden;
}

#parallax_four {
  opacity: 0.9;
  background: url(/img/ball4.jpg) no-repeat fixed center/cover;
  height: 250px;
  width: 100%;
}


#content-1 {
  background: rgb(224, 164, 164);
  padding: 60px;
  display: block;
  // border-bottom-right-radius: 200px;
  // z-index: 1;
  // overflow: hidden;
  // position: relative;
}

.content-header {
  text-align: center;
  color: #fff;
  padding: 40px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 300;
}

.content-title {
  font-weight: 600;
}

.columns {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;

  img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


article h3 {
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.parallax-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  position: relative;
  top: 50%;
  text-align: center;
  color: #ffffff;
}

#content-2 {
  background: rgb(255, 143, 68);
  padding: 54px 54px;
  display: block;
  // border-bottom-right-radius: 200px;
  // z-index: 1;
  // overflow: hidden;
  // position: relative;
}



#content-3 {
  background: rgba(225, 106, 255, 0.918);
  padding: 54px 54px;
  display: block;
  // border-bottom-right-radius: 200px;
  // z-index: 1;
  // overflow: hidden;
  // position: relative;
}


/*    Call to Action   */


.cta {
  background-color: #5b86ff;
  padding: 5em 0em;
  text-align: center;
  overflow: hidden;

  h3,
  p {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
  }

  .cta-btn {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: #20bf6b;
    padding: 15px;
    border: 5px solid #20bf6b;
    border-radius: 5px;
    display: inline-block;
  }

  .cta-btn:hover {
    color: #ffffff;
    border-radius: 100px;
    border-color: #20bf6b;
    transition: all 1s ease 0s;
  }
}


/*    Footer   */


.footer-project {
  padding: 0.5em 0em;
  text-align: center;
  background: #9b9b9b;
  text-decoration: none;

  p {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    &:hover,
    :link {
      color: rgba(109, 255, 128, 0.8);
    }
  }
}