@import 'config';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  width: 100%;
  border: solid #7F88A2 15px;
  padding: 100px;
  height: 100vh;
  margin: 0;
  width: 100%;
}

#bg-img {
  @include background;
}



#home {
  position: absolute;
  top: 120px;
  right: 130px;
  text-align: left;
  line-height: 5.5rem;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
}

.header-primary {
  color: $primary-color;
  font-size: 7rem;
  font-family: 'Julius Sans One',
  sans-serif;
  letter-spacing: -0.5rem;
  text-shadow: 7px -1px #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  6px 2px 0 #000;
}

.header-secondary {
  color: $primary-color;
  font-size: 7.5rem;
  font-family: 'Julius Sans One',
  sans-serif;
  letter-spacing: -10px;
  text-shadow: 7px -1px #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  6px 2px 0 #000;
}

.header-third {
  color: $third-color;
  font-size: 3.0rem;
  font-family: 'Alegreya Sans SC',
  sans-serif;
  padding-top: 50px;
  line-height: 40px;
  text-align: left;
  text-shadow: 4px -1px #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  5px 2px 0 #000;
  
}

.based {
  position: absolute;
  bottom: 109px;
  right: 120px;
  font-family: 'Muli',
  sans-serif;
}


.contact, a {
  padding-left: 25px;
  text-decoration: none;
  letter-spacing: 5px;
  color: #7F88A2;
  font-size: 2.0rem;
}
